<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    @*去除浏览器默认样式*@
    @*<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/Content/iconfont.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="/scripts/extend.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("行移动", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("行拖拽", "Drag", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("副标签", "Box", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("表格遮罩", "Table", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("正则验证", "Verify", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("文件导出", "Export", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("文件导入", "Import", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("行内列表", "Row", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("列隐藏", "Column", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("图片轮播", "Carousel", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>